/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

.spacer {
 flex: 1 1 auto;
}


.icon {
	padding: 0 14px;
}

.done {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
}
